** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* color: white; */
}

.section {
  /* background-color: rgb(243, 176, 176); */
}

.container {
  $padding-inline-value: 64px;
  max-width: 1200px + 2 * $padding-inline-value;
  margin-inline: auto;
  padding-inline: $padding-inline-value;
}

.wrapper {
  /* background-color: rgb(167, 167, 223); */
  padding-block: 64px;
}

.nav {
  background-color: black;
  color: white;
  font-weight: 700;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-block: 12px;
  }
  &__menuWrapper {
    display: flex;
    gap: 24px;
    align-items: baseline;
  }
}

.button {
  width: fit-content;
  background-color: slateblue;
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  text-align: center;

  &--type-text {
    color: slateblue;
    background-color: unset;
    padding-inline: unset;
  }
}

// 편하다!!! 같은 부모 아래 묶어서 사용 가능...
