* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: aquamarine;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

// dvh는 스크롤크기에 맞춰서
.badge {
  font-size: 11px;
  line-height: 16px;
  background-color: red;
  aspect-ratio: 1 / 1;
  width: 16px;
  text-align: center;
  border-radius: 999px;
  color: white;
  position: absolute;
  left: 400px;
  top: 100px;
  //   position: relative;
  //   left: -8px;
  //   top: -16px;

  //   position: relative; 위치가 보존됨.
  // 다른 자리로 이동이 가능한 상태. 이게 있어야 top left 작동이 가능
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  width: fit-content;
  color: #49454f;
  border: 1px solid #797472;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  &:hover {
    background-color: royalblue;
  }
  transition: background-color 200ms ease-out;
}

// .button:hover마우스 올라갈 경우,
