* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* color: white; */
}

.section {
  /* background-color: rgb(243, 176, 176); */
}

.container {
  --budlele: 24px;
  max-width: calc(1200px + 2 * var(--budlele));
  margin-inline: auto;
  padding-inline: var(--budlele);
}

.wrapper {
  /* background-color: rgb(167, 167, 223); */
  padding-block: 64px;
}

.nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-block: 12px;
}

.nav .nav__menuWrapper {
  display: flex;
  gap: 24px;
  align-items: baseline;
}

.nav {
  background-color: black;
  color: white;
  font-weight: 700;
}

.button {
  width: fit-content;
  background-color: slateblue;
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  text-align: center;
  /* 부모가 플렉스가 되면 자식 디브는 가능한 겸손하게 사이즈를 줄임
  ID에 해당하는 것은 #으로..
  병렬하지 않고 붙여쓰면 안된다
  */
}

.button--type-text {
  color: slateblue;
  background-color: unset;
  padding-inline: unset;
}

/* #hero1 .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 얼라인 아이템은 90도 방향으로 방향 잡아주는 것. 센터로 잡아주면 겸손해짐 
  근데 그냥 가로일 경우에도 div는 겸손해짐
} */
